*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 5vh;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
}

.board {
  margin: 0;
  display: grid;
  justify-content: center;
  align-content: center;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

/*
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}*/

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell.circle::before {
  background-color: #5bc0de;
  border: 1px solid black
}

.cell.x::before,
.cell.x::after {
  background-color: #39d17d;
  border: 1px solid black
}

.cell.won{
  background-color: #737373;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: lightgrey;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.boardBlocked:hover > .cell{
  cursor: not-allowed !important;
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: #32383e;;
  border: 1px solid black
}

.cell.won.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color:  #737373;
  border: 1px solid black
}

.winning-message {
  display: none;
  z-index: 9999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message.show {
  display: flex;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	top:40px;
	right:40px;
	background-color:rgb(204, 201, 0);
	color:rgb(22, 22, 22);
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.float2{
	position:fixed;
	width:60px;
	height:60px;
	top:40px;
	right:40px;
	background-color:#0C9;
	color:rgb(22, 22, 22);
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.float:hover{
  color: rgb(59, 59, 59);
}

.float2:hover{
  color: rgb(59, 59, 59);
}

.my-float{
	margin-top:22px;
}